/* 
background-color: rgba(0, 136, 169, 1);

hover: background-color: rgba(0, 136, 169, 0.8);

transition: all 0.3s ease 0s;
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	background-color: #333;
	color: aliceblue;
	font-size: 18px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
}

.logo {
	cursor: pointer;
	transition: all ease 0.4s;
}

.logo:hover {
	color: rgba(0, 136, 169, 1);
	font-size: 20px;
}

.nav_links {
	display: flex;
	justify-content: center;
}

.nav_links li a {
	margin: 10px 0;
	padding: 0px 20px;
	letter-spacing: 1px;
	transition: all ease 0.6s;
}

.nav_links li a:hover {
	color: rgba(0, 136, 169, 1);
	font-size: 20px;
}

button {
	padding: 10px 25px;
	border-radius: 50px;
	color: aliceblue;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	cursor: pointer;
	letter-spacing: 1px;
	transition: all ease 0.5s;
}

button:hover {
	background: rgba(0, 136, 169, 0.8);
	font-size: 20px;
}
