* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

/* #0161B8 */

.hero {
	width: 100%;
	height: 100vh;
	padding: 15px 5%;
	background-color: #0161b8;
}

/* Header */
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-top: 35px;
}

header ul li {
	margin: 0 60px;
}

header ul li a {
	color: #fff;
	cursor: pointer;
}

header img {
	width: 80px;
	cursor: pointer;
}

/* Content */
.inner-content {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inner-text {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.inner-text h1 {
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.inner-text span {
	font-size: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 800;
}

.inner-text p {
	font-size: 18px;
	line-height: 1.6;
	margin: 40px 0;
}

.inner-text a {
	color: #333;
	border: 1px solid #fff;
	padding: 10px 30px;
	border-radius: 40px;
	background-color: #fff;
	cursor: pointer;
}

.inner-content img {
	width: 270px;
	position: relative;
	left: 180px;
}

.inner-content ul li {
	margin: 40px 0;
	transition: all ease 0.9;
}

.inner-content ul li a {
	font-size: 22px;
	color: #fff;
	cursor: pointer;
}

/* Thumbs */
.thumbs {
	display: flex;
	justify-content: center;
}

.thumbs li img {
	width: 50px;
	margin: 0 20px;
	cursor: pointer;
}
